{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        초대장
    </title>
    <style>
        body{
            background-image: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fl2mNT%2FbtraeyndI3X%2FKCNrcDOWkzDRVjGQQDXee0%2Fimg.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .yes{
            position: absolute;
            top: 650px;
            left: 20%;
            
        }
    </style>
</head>



<body>

    <a class="yes" href=/index><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdAkuWm%2Fbtraiw22MUa%2FVYxcPbNl4In2Om6RMKZgYK%2Fimg.png" width= "270px";/></a>
    

</body>



</html>
